<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body alinharDireita">
            <h1>Cadastro de Professores</h1><br>
            <a href="admin/professor/new" class="btn btn-primary">Novo</a>
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">ESPECIALIDADE</th>
                        <th scope="col">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (professor of lista; track $index) {
                        <tr>
                            <td>{{professor.id}}</td>
                            <td>{{professor.nomeProfessor}}</td>
                            <td>{{professor.email}}</td>
                            <td>{{professor.especialidade}}</td>
                            <td class="alinharDireita"> 
                                <a href="admin/professor/edit/{{professor.id}}" class="btn btn-primary">Editar</a>
                                <button (click)="delete(professor)" class="btn btn-danger">Deletar</button>
                             </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>
<ng-template #modalCarroForm>

    <div class="modal-header">
        @if(professorEdit.id > 0){
            <h5 class="modal-title" id="exampleModalLabel">Editar Professor</h5>
        }@else {
            <h5 class="modal-title" id="exampleModalLabel">Novo Professor</h5>  
        }
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

        <app-professor-form [professor]="professorEdit" (meuEvento)="meuEventoTratamento($event)"></app-professor-form>

    </div>

</ng-template>
